body {
    background-color: black;
    color: white;
}

.time-label {
    font-size: 5rem;
    color: rgba(247, 94, 24, 0.815);
}

.mybtn {
    padding: 30px;
    width: fit-content;
    border-radius: 50%;
    font-size: 1.05rem;
    cursor: pointer;
}

#btn1 {
    color: rgba(255, 255, 255, 0.767);
    background-color: rgba(105, 103, 103, 0.25);
    outline: 1px solid rgba(105, 103, 103, 0.25);
    outline-width: 2px;
    outline-offset: 4px;
}

#btn1:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 10px rgba(105, 103, 103, 0.25);
}

#btn2 {
    color: rgba(255, 255, 255, 0.767);
    background-color: rgba(230, 43, 43, 0.25);
    outline: 1px solid rgba(230, 43, 43, 0.25);
    outline-width: 2px;
    outline-offset: 4px;
}

#btn2:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 10px rgba(230, 43, 43, 0.25);
}

#main-container {
    padding-top: 2.5%;
    padding-left: 20%;
    padding-right: 20%;
}